<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
	<div class="navbar">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="public/assets/js/test.html">Test</a>
    </div>
	<h1>Test page</h1>

</body>
</html>
